body {
  margin: 0 auto;
  width: 1140px;
}
.header {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.ex01 {
  background-color: brown;
  color: #fff;
  transition: all 0.3 ease-in-out;
  padding: 12px 20px;
}

.ex01:hover {
  background-color: rgb(138, 33, 33);
  color: #fff;
}
