body {
  margin: 0 auto;
  width: 1440px;
}
.header {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.ex01 {
  background-color: brown;
  color: #fff;
  transition: all 0.3 ease-in-out;
}

.ex01:hover {
  color: brown;
  background-color: #fff;
}
